
<!DOCTYPE html>
<html>
    <head>
        
        <!-- Title -->
        <title>@ViewData["Title"]</title>
        
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta charset="UTF-8">
        <meta name="description" content="Admin Dashboard Template" />
        <meta name="keywords" content="admin,dashboard" />
        <meta name="author" content="Steelcoders" />
        
        <!-- Styles -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
        <link href="~/admin/plugins/pace-master/themes/blue/pace-theme-flash.css" rel="stylesheet"/>
        <link href="~/admin/plugins/uniform/css/uniform.default.min.css" rel="stylesheet"/>
        <link href="~/admin/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="~/admin/plugins/fontawesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
        <link href="~/admin/plugins/line-icons/simple-line-icons.css" rel="stylesheet" type="text/css"/>	
        <link href="~/admin/plugins/offcanvasmenueffects/css/menu_cornerbox.css" rel="stylesheet" type="text/css"/>	
        <link href="~/admin/plugins/waves/waves.min.css" rel="stylesheet" type="text/css"/>	
        <link href="~/admin/plugins/switchery/switchery.min.css" rel="stylesheet" type="text/css"/>
        <link href="~/admin/plugins/3d-bold-navigation/css/style.css" rel="stylesheet" type="text/css"/>
        <link href="~/admin/plugins/slidepushmenus/css/component.css" rel="stylesheet" type="text/css"/>	
        <link href="~/admin/plugins/weather-icons-master/css/weather-icons.min.css" rel="stylesheet" type="text/css"/>	
        <link href="~/admin/plugins/metrojs/MetroJs.min.css" rel="stylesheet" type="text/css"/>	
        <link href="~/admin/plugins/toastr/toastr.min.css" rel="stylesheet" type="text/css"/>	
        	
        <!-- Theme Styles -->
        <link href="~/admin/css/modern.min.css" rel="stylesheet" type="text/css"/>
        <link href="~/admin/css/themes/green.css" class="theme-color" rel="stylesheet" type="text/css"/>
        <link href="~/admin/css/custom.css" rel="stylesheet" type="text/css"/>
        
        <script src="~/admin/plugins/3d-bold-navigation/js/modernizr.js"></script>
        <script src="~/admin/plugins/offcanvasmenueffects/js/snap.svg-min.js"></script>
        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        
    </head>
    <body class="page-header-fixed">
        <div class="overlay"></div>
        
            @{
                @Html.Partial("Admin/_Header")
            }

             @{
                @Html.Partial("Admin/_Sidebar")
            }

            <div class="page-inner">
                <div class="page-title">
                    <h3>Dashboard</h3>
                    <div class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li><a href="/Admin">Home</a></li>
                            <li class="active">Dashboard</li>
                        </ol>
                    </div>
                </div>
                <div id="main-wrapper">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="panel info-box panel-white">
                                <div class="panel-body">
                                    <div class="info-box-stats">
                                        <p class="counter">27,358</p>
                                        <p class="counter">1409</p>
                                        <span class="info-box-title">Contacts (Leads/Prospects) 2017</span>
                                    </div>
                                    <div class="info-box-icon">
                                        <i class="icon-users"></i>
                                    </div>
                                    <div class="info-box-progress">
                                        <div class="progress progress-xs progress-squared bs-n">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100" style="width: 4%">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="panel info-box panel-white">
                                <div class="panel-body">
                                    <div class="info-box-stats">
                                        <p class="counter">7,100</p>
                                        <p class="counter">310</p>
                                        <span class="info-box-title">Accounts (Leads/Prospects) 2017</span>
                                    </div>
                                    <div class="info-box-icon">
                                        <i class="icon-eye"></i>
                                    </div>
                                    <div class="info-box-progress">
                                        <div class="progress progress-xs progress-squared bs-n">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 2%">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="panel info-box panel-white">
                                <div class="panel-body">
                                    <div class="info-box-stats">
                                        <p>R$<span class="counter text-primary">281,500</span></p>
                                        <p>R$<span class="counter text-danger">158,500</span></p>
                                        <p>R$<span class="counter text-success">123,135</span></p>
                                        <span class="info-box-title">Revenues/Expenses/Profit - 2017</span>
                                    </div>
                                    <div class="info-box-icon">
                                        <i class="icon-basket"></i>
                                    </div>
                                    <div class="info-box-progress">
                                        <div class="progress progress-xs progress-squared bs-n">
                                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="panel info-box panel-white">
                                <div class="panel-body">
                                    <div class="info-box-stats">
                                        <p><span class="counter">78</span>%</p>
                                        <p><span class="counter">84</span>%</p>
                                        <span class="info-box-title">Learning/Engagement 2017</span>
                                    </div>
                                    <div class="info-box-icon">
                                        <i class="icon-envelope"></i>
                                    </div>
                                    <div class="info-box-progress">
                                        <div class="progress progress-xs progress-squared bs-n">
                                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100" style="width: 82%">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- Row -->
                    <div class="row">
                        <div class="col-lg-9 col-md-12">
                            <div class="panel panel-white">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="visitors-chart">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">Monthly Sales: 2017</h4>
                                            </div>
                                            <div class="panel-body">
                                               <div>
                                                    <canvas id="chart2" height="150"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="stats-info">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">Top Buyers</h4>
                                            </div>
                                            <div class="panel-body">
                                                <ul class="list-unstyled">
                                                    <li>Guilherme Almeida<div class="text-success pull-right">R$ 1200,00<i class="fa fa-heart-o"></i></div></li>
                                                    <li>Alano Moraes<div class="text-success pull-right">R$ 530,00<i class="fa fa-heart-o"></i></div></li>
                                                    <li>Ricardo Carvalho<div class="text-success pull-right">R$ 400,00<i class="fa fa-heart-o"></i></div></li>
                                                    <li>Professor Germano<div class="text-info pull-right">R$ 400,00<i class="fa fa-check-square-o"></i></div></li>
                                                    <li>XDFX<div class="text-info pull-right">R$ 350,00<i class="fa fa-check-square-o"></i></div></li>
                                                    <li>Colégio CAD<div class="text-info pull-right">R$ 200,00<i class="fa fa-check-square-o"></i></div></li>
                                                    <li>Maximiano Leite<div class="text-warning pull-right">R$ 150,00<i class="fa fa-check-square-o"></i></div></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-white">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Top Selling Items</h4>
                                    <div class="panel-control">
                                        <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Reload" class="panel-reload"><i class="icon-reload"></i></a>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="inbox-widget slimscroll">
                                        <a href="#">
                                            <div class="inbox-item">
                                                <p class="inbox-item-author">Maya Character</p>
                                                <p class="inbox-item-text">44 Units</p>
                                                
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="inbox-item">
                                                <p class="inbox-item-author">Sebastian Character</p>
                                                <p class="inbox-item-text">18 Units</p>
                                                
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="inbox-item">
                                                <p class="inbox-item-author">Educational Consulting</p>
                                                <p class="inbox-item-text">12</p>
                                                
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="inbox-item">
                                                <p class="inbox-item-author">Solarship Lancelot</p>
                                                <p class="inbox-item-text">11</p>
                                                
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="inbox-item">
                                                <p class="inbox-item-author">Android Mack Mx-800</p>
                                                <p class="inbox-item-text">5</p>
                                               
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="inbox-item">
                                                <p class="inbox-item-author">TeslaLight Sniper VPX</p>
                                                <p class="inbox-item-text">2</p>
                                                
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-6">
                            <div class="panel panel-white">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Educational Results</h4>
                                    <div class="panel-control">
                                        <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Reload" class="panel-reload"><i class="icon-reload"></i></a>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="inbox-widget slimscroll">
                                        <a href="#">
                                            <div class="inbox-item">
                                                <div class="inbox-item-img"><img src="~/admin/images/avatar2.png" class="img-circle" alt=""></div>
                                                <p class="inbox-item-author">Total Learning</p>
                                                <p class="inbox-item-text"><strong class="lead">82%</strong></p>
                                                <p class="inbox-item-date">1000045 TopicPoints</p>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="inbox-item">
                                                <div class="inbox-item-img"><img src="~/admin/images/avatar3.png" class="img-circle" alt=""></div>
                                                <p class="inbox-item-author">Total Engagement</p>
                                                <p class="inbox-item-text">I've finished it! See you so...</p>
                                                <p class="inbox-item-date">13:34 PM</p>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="inbox-item">
                                                <div class="inbox-item-img"><img src="~/admin/images/avatar4.png" class="img-circle" alt=""></div>
                                                <p class="inbox-item-author">Math</p>
                                                <p class="inbox-item-text">This theme is awesome!</p>
                                                <p class="inbox-item-date">13:17 PM</p>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="inbox-item">
                                                <div class="inbox-item-img"><img src="~/admin/images/avatar5.png" class="img-circle" alt=""></div>
                                                <p class="inbox-item-author">Chemistry</p>
                                                <p class="inbox-item-text">Nice to meet you</p>
                                                <p class="inbox-item-date">12:20 PM</p>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="inbox-item">
                                                <div class="inbox-item-img"><img src="~/admin/images/avatar2.png" class="img-circle" alt=""></div>
                                                <p class="inbox-item-author">Biology</p>
                                                <p class="inbox-item-text">Hey! I'm working on your...</p>
                                                <p class="inbox-item-date">10:15 AM</p>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="inbox-item">
                                                <div class="inbox-item-img"><img src="~/admin/images/avatar4.png" class="img-circle" alt=""></div>
                                                <p class="inbox-item-author">Physics</p>
                                                <p class="inbox-item-text">This theme is awesome!</p>
                                                <p class="inbox-item-date">9:56 AM</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="panel panel-white">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Feedback / Tickets</h4>
                                    <div class="panel-control">
                                        <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Reload" class="panel-reload"><i class="icon-reload"></i></a>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="inbox-widget slimscroll">
                                        <a href="#">
                                            <div class="inbox-item">
                                                <div class="inbox-item-img"><img src="~/admin/images/avatar2.png" class="img-circle" alt=""></div>
                                                <p class="inbox-item-author">Sandra Smith</p>
                                                <p class="inbox-item-text">Hey! I'm working on your...</p>
                                                <p class="inbox-item-date">13:40 PM</p>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="inbox-item">
                                                <div class="inbox-item-img"><img src="~/admin/images/avatar3.png" class="img-circle" alt=""></div>
                                                <p class="inbox-item-author">Christopher</p>
                                                <p class="inbox-item-text">I've finished it! See you so...</p>
                                                <p class="inbox-item-date">13:34 PM</p>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="inbox-item">
                                                <div class="inbox-item-img"><img src="~/admin/images/avatar4.png" class="img-circle" alt=""></div>
                                                <p class="inbox-item-author">Amily Lee</p>
                                                <p class="inbox-item-text">This theme is awesome!</p>
                                                <p class="inbox-item-date">13:17 PM</p>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="inbox-item">
                                                <div class="inbox-item-img"><img src="~/admin/images/avatar5.png" class="img-circle" alt=""></div>
                                                <p class="inbox-item-author">Nick Doe</p>
                                                <p class="inbox-item-text">Nice to meet you</p>
                                                <p class="inbox-item-date">12:20 PM</p>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="inbox-item">
                                                <div class="inbox-item-img"><img src="~/admin/images/avatar2.png" class="img-circle" alt=""></div>
                                                <p class="inbox-item-author">Sandra Smith</p>
                                                <p class="inbox-item-text">Hey! I'm working on your...</p>
                                                <p class="inbox-item-date">10:15 AM</p>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="inbox-item">
                                                <div class="inbox-item-img"><img src="~/admin/images/avatar4.png" class="img-circle" alt=""></div>
                                                <p class="inbox-item-author">Amily Lee</p>
                                                <p class="inbox-item-text">This theme is awesome!</p>
                                                <p class="inbox-item-date">9:56 AM</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-white">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Events - EL Sports</h4>
                                    <div class="panel-control">
                                        <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Reload" class="panel-reload"><i class="icon-reload"></i></a>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="inbox-widget slimscroll">
                                        <a href="#">
                                            <div class="inbox-item">
                                                <div class="inbox-item-img"><img src="~/admin/images/avatar2.png" class="img-circle" alt=""></div>
                                                <p class="inbox-item-author">Sandra Smith</p>
                                                <p class="inbox-item-text">Hey! I'm working on your...</p>
                                                <p class="inbox-item-date">13:40 PM</p>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="inbox-item">
                                                <div class="inbox-item-img"><img src="~/admin/images/avatar3.png" class="img-circle" alt=""></div>
                                                <p class="inbox-item-author">Christopher</p>
                                                <p class="inbox-item-text">I've finished it! See you so...</p>
                                                <p class="inbox-item-date">13:34 PM</p>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="inbox-item">
                                                <div class="inbox-item-img"><img src="~/admin/images/avatar4.png" class="img-circle" alt=""></div>
                                                <p class="inbox-item-author">Amily Lee</p>
                                                <p class="inbox-item-text">This theme is awesome!</p>
                                                <p class="inbox-item-date">13:17 PM</p>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="inbox-item">
                                                <div class="inbox-item-img"><img src="~/admin/images/avatar5.png" class="img-circle" alt=""></div>
                                                <p class="inbox-item-author">Nick Doe</p>
                                                <p class="inbox-item-text">Nice to meet you</p>
                                                <p class="inbox-item-date">12:20 PM</p>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="inbox-item">
                                                <div class="inbox-item-img"><img src="~/admin/images/avatar2.png" class="img-circle" alt=""></div>
                                                <p class="inbox-item-author">Sandra Smith</p>
                                                <p class="inbox-item-text">Hey! I'm working on your...</p>
                                                <p class="inbox-item-date">10:15 AM</p>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="inbox-item">
                                                <div class="inbox-item-img"><img src="~/admin/images/avatar4.png" class="img-circle" alt=""></div>
                                                <p class="inbox-item-author">Amily Lee</p>
                                                <p class="inbox-item-text">This theme is awesome!</p>
                                                <p class="inbox-item-date">9:56 AM</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="panel panel-white">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Website Contacts</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive project-stats">  
                                       <table class="table">
                                           <thead>
                                               <tr>
                                                   <th>#</th>
                                                   <th>Project</th>
                                                   <th>Status</th>
                                                   <th>Manager</th>
                                                   <th>Progress</th>
                                               </tr>
                                           </thead>
                                           <tbody>
                                               <tr>
                                                   <th scope="row">452</th>
                                                   <td>Mailbox Template</td>
                                                   <td><span class="label label-info">Pending</span></td>
                                                   <td>David Green</td>
                                                   <td>
                                                   <div class="btn-group">
                                            <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                Action <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Action</a></li>
                                                <li><a href="#">Another action</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">Separated link</a></li>
                                            </ul>
                                        </div>
                                                   </td>
                                               </tr>
                                               <tr>
                                                   <th scope="row">327</th>
                                                   <td>Wordpress Theme</td>
                                                   <td><span class="label label-primary">In Progress</span></td>
                                                   <td>Sandra Smith</td>
                                                   <td>
                                                       <div class="progress progress-sm">
                                                           <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                                           </div>
                                                       </div>
                                                   </td>
                                               </tr>
                                               <tr>
                                                   <th scope="row">226</th>
                                                   <td>Modern Admin Template</td>
                                                   <td><span class="label label-success">Finished</span></td>
                                                   <td>Chritopher Palmer</td>
                                                   <td>
                                                       <div class="progress progress-sm">
                                                           <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                                           </div>
                                                       </div>
                                                   </td>
                                               </tr>
                                               <tr>
                                                   <th scope="row">178</th>
                                                   <td>eCommerce template</td>
                                                   <td><span class="label label-danger">Canceled</span></td>
                                                   <td>Amily Lee</td>
                                                   <td>
                                                       <div class="progress progress-sm">
                                                           <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                                           </div>
                                                       </div>
                                                   </td>
                                               </tr>
                                               <tr>
                                                   <th scope="row">157</th>
                                                   <td>Website PSD</td>
                                                   <td><span class="label label-info">Testing</span></td>
                                                   <td>Nick Doe</td>
                                                   <td>
                                                       <div class="progress progress-sm">
                                                           <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                                           </div>
                                                       </div>
                                                   </td>
                                               </tr>
                                               <tr>
                                                   <th scope="row">157</th>
                                                   <td>Fronted Theme</td>
                                                   <td><span class="label label-warning">Waiting</span></td>
                                                   <td>David Green</td>
                                                   <td>
                                                       <div class="progress progress-sm">
                                                           <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                                           </div>
                                                       </div>
                                                   </td>
                                               </tr>
                                           </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- Main Wrapper -->
                @{
                    @Html.Partial("Admin/_Footer")
                }
               
            </div><!-- Page Inner -->
        </main><!-- Page Content -->

        <div class="cd-overlay"></div>
	

        <!-- Javascripts -->
        <script src="~/admin/plugins/jquery/jquery-2.1.4.min.js"></script>
        <script src="~/admin/plugins/jquery-ui/jquery-ui.min.js"></script>
        <script src="~/admin/plugins/pace-master/pace.min.js"></script>
        <script src="~/admin/plugins/jquery-blockui/jquery.blockui.js"></script>
        <script src="~/admin/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/admin/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <script src="~/admin/plugins/switchery/switchery.min.js"></script>
        <script src="~/admin/plugins/uniform/jquery.uniform.min.js"></script>
        <script src="~/admin/plugins/offcanvasmenueffects/js/classie.js"></script>
        <script src="~/admin/plugins/offcanvasmenueffects/js/main.js"></script>
        <script src="~/admin/plugins/waves/waves.min.js"></script>
        <script src="~/admin/plugins/3d-bold-navigation/js/main.js"></script>
        <script src="~/admin/plugins/waypoints/jquery.waypoints.min.js"></script>
        <script src="~/admin/plugins/jquery-counterup/jquery.counterup.min.js"></script>
        <script src="~/admin/plugins/toastr/toastr.min.js"></script>

        <script src="~/admin/plugins/metrojs/MetroJs.min.js"></script>
        <script src="~/admin/js/modern.js"></script>
        <script src="~/admin/plugins/chartsjs/Chart.min.js"></script>
        <script src="~/admin/js/pages/dashboard.js"></script>
        
        
    </body>
</html>