
<!DOCTYPE html>
<html>
    <head>
        
        <!-- Title -->
        <title>@ViewData["Title"]</title>
        
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta charset="UTF-8">
        <meta name="description" content="Topic Play Games - Admin" />
        <meta name="author" content="Topic Play Games" />
        
        <!-- Styles -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
        <link href="~/admin/plugins/pace-master/themes/blue/pace-theme-flash.css" rel="stylesheet"/>
        <link href="~/admin/plugins/uniform/css/uniform.default.min.css" rel="stylesheet"/>
        <link href="~/admin/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="~/admin/plugins/fontawesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
        <link href="~/admin/plugins/line-icons/simple-line-icons.css" rel="stylesheet" type="text/css"/>	
        <link href="~/admin/plugins/offcanvasmenueffects/css/menu_cornerbox.css" rel="stylesheet" type="text/css"/>	
        <link href="~/admin/plugins/waves/waves.min.css" rel="stylesheet" type="text/css"/>	
        <link href="~/admin/plugins/switchery/switchery.min.css" rel="stylesheet" type="text/css"/>
        <link href="~/admin/plugins/3d-bold-navigation/css/style.css" rel="stylesheet" type="text/css"/>	
        
        <!-- Theme Styles -->
        <link href="~/admin/css/modern.min.css" rel="stylesheet" type="text/css"/>
        <link href="~/admin/css/themes/green.css" class="theme-color" rel="stylesheet" type="text/css"/>
        <link href="~/admin/css/custom.css" rel="stylesheet" type="text/css"/>
        
        <script src="~/admin/plugins/3d-bold-navigation/js/modernizr.js"></script>
        <script src="~/admin/plugins/offcanvasmenueffects/js/snap.svg-min.js"></script>
        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        
    </head>
    <body class="page-login">
        <main class="page-content">
            <div class="page-inner">
                <div id="main-wrapper">
                    <div class="row">
                        <div class="col-md-3 center">
                            <div class="login-box">
                                <a href="/" class="logo-name text-lg text-center">Topic Play Games - Dashboard</a>
                                <p class="text-center m-t-md">Please login into your account.</p>
                                <div id="result"></div>
                                <form class="m-t-md" id="login_form">
                                    <div class="form-group">
                                        <input type="email" name="Email" class="form-control" placeholder="Email" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="Password" class="form-control" placeholder="Password" required>
                                    </div>
                                   <button type="submit" class="btn btn-success btn-block">Login</button>
                                </form>
                                <p class="text-center m-t-xs text-sm"> <a href="http://topicplay.com" target="_blank">&copy; Topic Play Games @DateTime.Now.Year</a>.</p>
                            </div>
                        </div>
                    </div><!-- Row -->
                </div><!-- Main Wrapper -->
            </div><!-- Page Inner -->
        </main><!-- Page Content -->
	

        <!-- Javascripts -->
        <script src="~/admin/plugins/jquery/jquery-2.1.4.min.js"></script>
        <script src="~/admin/plugins/jquery-ui/jquery-ui.min.js"></script>
        <script src="~/admin/plugins/pace-master/pace.min.js"></script>
        <script src="~/admin/plugins/jquery-blockui/jquery.blockui.js"></script>
        <script src="~/admin/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/admin/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <script src="~/admin/plugins/switchery/switchery.min.js"></script>
        <script src="~/admin/plugins/uniform/jquery.uniform.min.js"></script>
        <script src="~/admin/plugins/offcanvasmenueffects/js/classie.js"></script>
        <script src="~/admin/plugins/waves/waves.min.js"></script>
        <script src="~/admin/js/modern.min.js"></script>
         <script src="~/admin/js/custom.js"></script>
        
    </body>
</html>