<!DOCTYPE html>
<html>
    <head>
        <title>@ViewData["Title"]</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta charset="utf-8">
        <meta name="author" content="SolarTitans">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        
        <!-- Favicons -->
        <link rel="shortcut icon" href="~/topicplay/images/logo.png">

        <!-- CSS -->
        <link rel="stylesheet" href="~/topicplay/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/topicplay/css/style.css">
        <link rel="stylesheet" href="~/topicplay/css/style-responsive.css">
        <link rel="stylesheet" href="~/topicplay/css/animate.min.css">
        <link rel="stylesheet" href="~/topicplay/css/vertical-rhythm.min.css">
        <link rel="stylesheet" href="~/topicplay/css/owl.carousel.css">
        <link rel="stylesheet" href="~/topicplay/css/magnific-popup.css">
         <link rel="stylesheet" href="~/topicplay/css/YTPlayer.css">  
    </head>
    <body class="appear-animate">
        
        <!-- Page Loader -->        
        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>
        <!-- End Page Loader -->
        
        <!-- Page Wrap -->
        <div class="page" id="top">

            <!-- Fullwidth Slider -->
            <div class="home-section fullwidth-slider-fade bg-dark" id="home">
                
                <!-- Slide Item -->
                <section class="home-section bg-scroll bg-dark-alfa-50" data-background="topicplay/images/full-width-images/SolarTitansImages4.png">
                    <div class="js-height-full container">
                        
                        <!-- Hero Content -->
                        <div class="home-content">
                            <div class="home-text">
                                
                                <h1 class="font-alt hs-line-14 mb-20 mb-xs-20"> Reconquest the Solar System!</h1>
                                
                               <h3 class="font-alt">Play for free with your friends!</h3>
                            
                             <!-- Download -->
                            <div class="align-center">
                                <a href="#" class="download-button round mb-xs-10 wow fadeInLeft">
                                    <span class="db-icon"><i class="fa fa-windows"></i></span>
                                    <span class="db-title">Download For Windows</span>
                                    <span class="db-descr">Pre-Alpha</span>
                                </a>
                                
                                <span class="hidden-xs">&nbsp;</span>
                                
                                <!--<a href="#" class="download-button2 round wow fadeInRight" data-wow-delay="0.1s">
                                    <span class="db-icon"><i class="fa fa-apple"></i></span>
                                    <span class="db-title">Download For Mac Os X</span>
                                    <span class="db-descr">Pre-Alpha</span>
                                </a>-->
                            </div>
                            <!-- End Download -->
                                
                            </div>
                        </div>
                        <!-- End Hero Content -->

                    </div>
                </section>
                <!-- End Slide Item -->
                
                <!-- Slide Item -->
                <section class="home-section bg-scroll bg-dark-alfa-30" data-background="topicplay/images/full-width-images/SolarTitans22.jpg">
                    <div class="js-height-full container">
                        
                        <!-- Hero Content -->
                        <div class="home-content">
                            <div class="home-text"> 
                                
                                <h1 class="hs-line-14 font-alt mb-50 mb-xs-20">
                                    Knowledge and Victory
                                </h1>
                                
                                <h2 class="hs-line-8 no-transp font-alt">
                                    SolarTitans League and E-Sports of Knowledge!
                                </h2>

                                 <div class="local-scroll">
                                    <a href="#esk" class="btn btn-mod btn-border-w btn-medium btn-round hidden-xs">Learn More!</a>
                                </div>
                                
                            </div>
                        </div>
                        <!-- End Hero Content -->
                        
                    </div>
                </section>
                <!-- End Slide Item -->

            </div>
            <!-- End Fullwidth Slider -->


            
            @{
                @Html.Partial("SolarTitans/_Header")
            }

            
            <!-- Call Action Section -->
            <section class="page-section pt-0 pb-0 banner-section bg-dark" data-background="topicplay/images/full-width-images/SolarTitans14.jpg" id="about">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <div class="col-sm-6">
                            
                            <div class="mt-140 mt-lg-80 mb-140 mb-lg-80">
                                <div class="banner-content">
                                     <div class="hs-line-4 font-alt mb-20">About</div>
                                    <h1 class="hs-line-15 font-alt mb-40 mb-xs-20">SolarTitans</h1>
                                    <div class="section-text white mb-70 mb-xs-40 text-justify">
                                        <span class="dropcap font-alt">S</span>olarTitans is a innovative 3D multiplayer game that, tells the story of the colonization of our solar system and struggle of mankind before MACK, a powerfull AI that became self-conscious and decided that all humanity was a threat to be exterminate.
                                         
                                        <p>
                                        All the planets, moons and asteroids begin to be attacked by the legion of robotic hunters, a new war between men and machines begins and behold the warriors of the solar system arise;
                                        Help Sebastian and Maya to reconquer the solar system on a journey filled with challenges, exploration and knowledge. Play for free with your friends, improve your skills, develop strategies, unleash the solar system!
                                        </p>
                                    </div>

                                    <!--<div class="mt-40">
                                        <a href="https://www.youtube.com/watch?v=h8nQ2Dk3xh8" class="btn btn-mod btn-w btn-medium btn-round lightbox-gallery-1 mfp-iframe" >Watch Trailer</a>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Call Action Section -->

             <!-- Call Action Section -->
            <section class="small-section bg-dark bg-dark-alfa-70" data-background="topicplay/images/full-width-images/SolarTitans18.jpg">
                <div class="container relative">
                    
                    <div class="align-center">
                        <h3 class="banner-heading font-alt ">Beta is almost ready!</h3>
                        <h4>We are really excited for the launch of SolarTitans Beta in December 2017</h4>
                         <!-- Timer -->
                        <ul class="countdown clearlist clearfix mb-80 mb-xs-20 mt-40" data-finish-date="12/14/2017 12:00:00" data-UTC="3" data-finish-message="We have already started!">
                            <li>
                                <span class="countdown-number"><span class="days font-alt">00</span><b class="days_ref">days</b></span>
                            </li>
                            <li>
                                <span class="countdown-number"><span class="hours font-alt">00</span><b class="hours_ref">hours</b></span>
                            </li>
                            <li>
                                <span class="countdown-number"><span class="minutes font-alt">00</span><b class="minutes_ref">minutes</b></span>
                            </li>
                            <li>
                                <span class="countdown-number"><span class="seconds font-alt">00</span><b class="seconds_ref">seconds</b></span>
                            </li>
                        </ul>
                        <!-- End Timer -->

                        <h3>Play the Alpha Now!</h3>
                        <!-- Download -->
                        <div class="align-center mt-40">
                            <a href="#" class="download-button round mb-xs-10 wow fadeInLeft">
                                <span class="db-icon"><i class="fa fa-windows"></i></span>
                                <span class="db-title">Download For Windows</span>
                                <span class="db-descr">Pre-Alpha</span>
                            </a>
                            
                            <span class="hidden-xs">&nbsp;</span>
                            
                            <!--<a href="#" class="download-button round wow fadeInRight" data-wow-delay="0.1s">
                                <span class="db-icon"><i class="fa fa-apple"></i></span>
                                <span class="db-title">Download For Mac Os X</span>
                                <span class="db-descr">Pre-Alpha</span>
                            </a>-->
                        </div>
                        <!-- End Download -->
                    </div>
                    
                </div>
            </section>
            <!-- End Call Action Section -->


           
         <!-- Call Action Section -->
            <section class="page-section pt-0 pb-0 banner-section bg-dark" data-background="topicplay/images/full-width-images/SolarTitans15.jpg" id="signin">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <div class="col-sm-5">
                            
                            <div class="mt-140 mt-lg-80 mb-140 mb-lg-80">
                                <div class="banner-content">
                                    <h1 class="font-alt">Play For Free!</h1>
                                    <div class="banner-decription">Help Maya and Sebastian to reconquer the Solar System. Play for free with your friends, improve your skills, explore worlds, develop strategies, win!.
                                    </div>
                                    <div class="local-scroll">
                                        <form class="form contact-form" id="signin_form">
                                            <div class="clearfix">

                                                <div id="result"></div>
                                                <br/>

                                                <!-- Username -->
                                                <div class="form-group">
                                                    <input type="text" name="Name" class="input-md round form-control" placeholder="Name">
                                                </div>

                                                <!-- Email -->
                                                <div class="form-group">
                                                    <input type="text" name="Email" class="input-md round form-control" placeholder="Email">
                                                </div>
                                                
                                                <!-- Password -->
                                                <div class="form-group">
                                                    <input type="password" name="Password" class="input-md round form-control" placeholder="Password">
                                                </div>
                                                
                                                <!-- Re-enter Password -->
                                                <div class="form-group">
                                                    <input type="password" name="RePassword" class="input-md round form-control" placeholder="Re-enter Password">
                                                </div>
                                                    
                                            </div>
                                            
                                            <!-- Send Button -->
                                            <div class="pt-10">
                                                <button class="btn btn-mod btn-medium btn-round btn-full" id="submit_btn">Register</button>
                                            </div>
                                            <!--<div class="pt-10">
                                                <button class="btn btn-facebook btn-medium btn-round btn-full" >Log In with Facebook!</button>
                                            </div>-->
                                        
                                        </form>

                                        <!-- Divider -->
                                        <hr class="mt-0 mb-0 "/>
                                        <!-- End Divider -->

                                         <!-- Download -->
                                            <div class="align-center mt-40">
                                                <a href="#" class="download-button round mb-xs-10 wow fadeInLeft">
                                                    <span class="db-icon"><i class="fa fa-windows"></i></span>
                                                    <span class="db-title">Download For Windows</span>
                                                    <span class="db-descr">Pre-Alpha</span>
                                                </a>

                                                <!--<a href="#" class="download-button round wow fadeInRight mt-10" data-wow-delay="0.1s">
                                                    <span class="db-icon"><i class="fa fa-apple"></i></span>
                                                    <span class="db-title">Download For Mac Os X</span>
                                                    <span class="db-descr">Pre-Alpha</span>
                                                </a>-->
                                            </div>
                                            <!-- End Download -->
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                    </div>
                    
                </div>
            </section>
            <!-- End Call Action Section -->

            <!-- Call Action Section -->
            <section class="page-section pt-0 pb-0 banner-section bg-dark bg-dark-alfa-70" data-background="topicplay/images/full-width-images/SolarTitans17.jpg" id="multiplayer">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <div class="col-sm-6">
                            
                            <div class="mt-140 mt-lg-80 mb-140 mb-lg-80">
                                <div class="banner-content">
                                    <h1 class="font-alt">A multiplayer experience!</h1>
                                    <div class="banner-decription">
                                        Collaborate with your team to win the solar war! Choose your hero, your equipment, your teslalight, in the most innovative and fun multiplayer experience you've ever seen! Fast and Intuitive, Combine and Conquer!
                                       Join an existing network of players, or start your own and invite your friends.
                                    </div>
                                   
                                </div>
                            </div>
                            
                        </div>
                        
                        
                    </div>
                    
                </div>
            </section>
            <!-- End Call Action Section -->

            <!-- About Section -->
            <section class="page-section">
                <div class="container relative">
                   
                    
                    <h2 class="section-title font-alt mb-30 mb-sm-40">
                        Use Science, Math and Logic in a variety of battle modes!
                    </h2>
                    <h3 class="section-title font-alt mb-70 mb-sm-40">Knowledge and strategy defines victory!</h3>

                    <div class="row">
                        
                        <!-- Team item -->
                        <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                            <div class="team-item">
                                
                                <div class="team-item-image">
                                    
                                    <img src="~/topicplay/images/eb_mode.jpg" alt="" />
                                    
                                    <div class="team-item-detail">
                                        
                                        <h4 class="font-alt normal">Destroy the Enemy Base / Solo</h4>
                                        
                                        <p>
                                           Search for resources in the environment to load the main weapon and destroy the enemy base.
                                        </p>

                                    </div>
                                </div>
                                
                               
                                
                            </div>
                        </div>
                        <!-- End Team item -->
                        
                        <!-- Team item -->
                        <div class="col-sm-4 mb-xs-30 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="team-item">
                                
                                <div class="team-item-image">
                                    
                                    <img src="~/topicplay/images/Solarships_mode.jpg" alt="" />
                                    
                                    <div class="team-item-detail">
                                        
                                        <h4 class="font-alt normal">SolarHovers and SolarShips</h4>
                                        
                                        <p>
                                            Join battles between SolarHovers and SolarShips on land and in the sky.
                                        </p>
                                      
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- End Team item -->
                        
                        <!-- Team item -->
                        <div class="col-sm-4 mb-xs-30 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="team-item">
                                
                                <div class="team-item-image">
                                    
                                    <img src="~/topicplay/images/br_mode.jpg" alt="" />
                                    
                                    <div class="team-item-detail">
                                        
                                        <h4 class="font-alt normal">Solar War - Battle Royale</h4>
                                        
                                        <p>
                                            Become a solar system legend in a Battle of Life or Death.
                                        </p>
                                       
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <!-- End Team item -->
                        
                    </div>
                    
                    
                </div>
            </section>
            <!-- End About Section -->


            <!-- Call Action Section -->
            <section class="page-section pt-30 pb-30 banner-section bg-dark bg-dark-alfa-90" data-background="topicplay/images/full-width-images/SolarTitans12.jpg" id="topicstore">
                <div class="container relative">

                    <div class="row">
                   
                     <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <h1 class="hs-line-11 font-alt mb-20 mb-xs-0 align-center">SolarDiamonds</h1>
                                <div class="section-text align-center mb-70 mb-xs-40">
                                  SolarDiamond is the digital currency of SolarTitans. 
                                  With SolarDiamonds the player can purchase 
                                  unique and customizable items like 
                                  SolarShips, Characters, TeslaLights, Blueprints, Maps and more.
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Works Grid -->
                    <ul class="works-grid work-grid-3 work-grid-gut clearfix font-alt hover-white hide-titles" id="work-grid">
                        
                        <!-- Work Item (External Page) -->
                        <li class="work-item">
                            <a href="portfolio-single-1.html" class="work-ext-link">
                                <div class="work-img">
                                    <img class="work-img" src="~/topicplay/images/solardiamonds_promo1.jpg" alt="Work" />
                                </div>
                                <div class="work-intro">
                                    <h3 class="work-title">TeslaLights</h3>
                                    <div class="work-descr">
                                        TeslaLights are beam weapons that SolarTitans and Macks use in battles.
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!-- End Work Item -->
                        
                        <!-- Work Item (External Page) -->
                        <li class="work-item">
                            <a href="portfolio-single-1.html" class="work-ext-link">
                                <div class="work-img">
                                    <img class="work-img" src="~/topicplay/images/solardiamonds_promo2.jpg" alt="Work" />
                                </div>
                                <div class="work-intro">
                                    <h3 class="work-title">Heroes</h3>
                                    <div class="work-descr">
                                       Choose your Hero, SolarTitan or Mack. And go to Fight!
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!-- End Work Item -->
                        
                        <!-- Work Item (External Page) -->
                        <li class="work-item">
                            <a href="portfolio-single-1.html" class="work-ext-link">
                                <div class="work-img">
                                    <img class="work-img" src="~/topicplay/images/solardiamonds_promo3.jpg" alt="Work" />
                                </div>
                                <div class="work-intro">
                                    <h3 class="work-title">SolarShips</h3>
                                    <div class="work-descr">
                                        SolarShips are combat spacecraft used by SolarTitans and the Macks in Solar War.
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!-- End Work Item -->

                         <!-- Work Item (External Page) -->
                        <li class="work-item">
                            <a href="portfolio-single-1.html" class="work-ext-link">
                                <div class="work-img">
                                    <img class="work-img" src="~/topicplay/images/solardiamonds_promo4.jpg" alt="Work" />
                                </div>
                                <div class="work-intro">
                                    <h3 class="work-title">E-Blueprints</h3>
                                    <div class="work-descr">
                                        E-Blueprints are projects, experiments and challenges that generate points for SolarTitans.
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!-- End Work Item -->

                         <!-- Work Item (External Page) -->
                        <li class="work-item">
                            <a href="portfolio-single-1.html" class="work-ext-link">
                                <div class="work-img">
                                    <img class="work-img" src="~/topicplay/images/solardiamonds_promo5.jpg" alt="Work" />
                                </div>
                                <div class="work-intro">
                                    <h3 class="work-title">Special Maps</h3>
                                    <div class="work-descr">
                                       Acquire New Maps for various game modes and Battle Royale.
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!-- End Work Item -->

                                                
                    </ul>
                    <!-- End Works Grid -->

                        
                    </div>
                    
                </div>
            </section>
            <!-- End Call Action Section -->

                        <!-- Call Action Section -->
            <section class="page-section pt-0 pb-0 banner-section bg-dark bg-dark-alfa-90" data-background="topicplay/images/full-width-images/College1-master1050-v2.jpg" id="esk">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <div class="col-sm-6">
                            
                            <div class="mt-140 mt-lg-80 mb-140 mb-lg-80">
                                <div class="banner-content">
                                    <div class="work-img">
                                        <img class="work-img" src="~/topicplay/images/League.png" alt="Work" />
                                    </div>
                                    <br/>
                                    <div class="banner-decription">
                                      SolarTitans League is a championship of running points in which
                                        teams of schools and universities compete in a lot of battles and
                                       challenges in the SolarTitans Game. Make yourself part of the League as well!
                                    </div>
                                   
                                </div>
                            </div>
                            
                        </div>

                        <div class="col-sm-6">
                            
                            <div class="mt-140 mt-lg-80 mb-140 mb-lg-80">
                                <div class="banner-content">
                                    <div class="work-img">
                                        <img class="work-img" src="~/topicplay/images/Esk.png" alt="Work" />
                                    </div>
                                    <br/>
                                    <div class="banner-decription">
                                      E-Sports of Knowledge (ESK) is the newest form of electronic sports with games and activities that make you think! You can only win when you use knowledge and strategy. We invite you to enter this new world of fun, challenge and learning, where only the most valiant and wise warriors survive.
                                    </div>
                                   
                                </div>
                            </div>
                            
                        </div>
                        
                        
                    </div>
                    
                </div>
            </section>
            <!-- End Call Action Section -->


            
            @{
                @Html.Partial("SolarTitans/_Footer")
            }
        
        
        </div>
        <!-- End Page Wrap -->
        
        
        <!-- JS -->
        <script type="text/javascript" src="~/topicplay/js/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="~/topicplay/js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="~/topicplay/js/bootstrap.min.js"></script>        
        <script type="text/javascript" src="~/topicplay/js/SmoothScroll.js"></script>
        <script type="text/javascript" src="~/topicplay/js/jquery.scrollTo.min.js"></script>
        <script type="text/javascript" src="~/topicplay/js/jquery.localScroll.min.js"></script>
        <script type="text/javascript" src="~/topicplay/js/jquery.viewport.mini.js"></script>
        
        <script type="text/javascript" src="~/topicplay/js/jquery.appear.js"></script>
        <script type="text/javascript" src="~/topicplay/js/jquery.sticky.js"></script>
        <script type="text/javascript" src="~/topicplay/js/jquery.parallax-1.1.3.js"></script>
        <script type="text/javascript" src="~/topicplay/js/jquery.fitvids.js"></script>
        <script type="text/javascript" src="~/topicplay/js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="~/topicplay/js/isotope.pkgd.min.js"></script>
        <script type="text/javascript" src="~/topicplay/js/imagesloaded.pkgd.min.js"></script>
        <script type="text/javascript" src="~/topicplay/js/jquery.magnific-popup.min.js"></script>
       
        <script type="text/javascript" src="~/topicplay/js/wow.min.js"></script>
        <script type="text/javascript" src="~/topicplay/js/masonry.pkgd.min.js"></script>
        <script type="text/javascript" src="~/topicplay/js/jquery.simple-text-rotator.min.js"></script>
        <script type="text/javascript" src="~/topicplay/js/all.js"></script>
        <script type="text/javascript" src="~/topicplay/js/jquery.downCount.js"></script>
        <script type="text/javascript" src="~/topicplay/js/jquery.mb.YTPlayer.js"></script>
        <script type="text/javascript" src="~/topicplay/js/user-register-form.js"></script>
       
        <!--[if lt IE 10]><script type="text/javascript" src="~/topicplay/js/placeholder.js"></script><![endif]-->

        
        <script>
            /*
                FB.getLoginStatus(function(response) {
                    statusChangeCallback(response);
                });
            */


            window.fbAsyncInit = function() {
                FB.init({
                appId      : '{179563285923233}',
                cookie     : true,
                xfbml      : true,
                version    : '{latest-api-version}'
                });
                FB.AppEvents.logPageView();   
            };

            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        
    </body>
</html>
