<div class="page-sidebar sidebar">
                <div class="page-sidebar-inner slimscroll">
                    <div class="sidebar-header">
                        <div class="sidebar-profile">
                            <a href="javascript:void(0);" id="profile-menu-link">
                                <div class="sidebar-profile-image">
                                    <img src="~/admin/images/profile-menu-image.jpg" class="img-circle img-responsive" alt="">
                                </div>
                                <div class="sidebar-profile-details">
                                    <span>Mackson Araujo<br><small>Founder and CEO</small></span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <ul class="menu accordion-menu">
                        <li class="active"><a href="/Admin/Dashboard" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-home"></span><p>Dashboard</p></a></li>
                        <li class="droplink"><a href="#" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-envelope"></span><p>CRM</p><span class="arrow"></span></a>
                            <ul class="sub-menu">
                                <li><a href="/Sales">Sales</a></li>
                                <li><a href="/Marketing">Marketing</a></li>
                                <li><a href="/AC">Accounts and Contacts</a></li>
                                <li><a href="/Finances">Finances</a></li>
                                <li><a href="/Tickets">Tickets</a></li>
                                
                            </ul>
                        </li>
                        <li class="droplink"><a href="#" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-briefcase"></span><p>TopicStore</p><span class="arrow"></span></a>
                            <ul class="sub-menu">
                                <li><a href="/Products">Products and Services</a></li>
                                <li><a href="/Products/Categories">Categories</a></li>
                                <li><a href="/Products/Orders">Orders</a></li>
                            </ul>
                        </li>
                        <li class="droplink"><a href="#" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-th"></span><p>TopicPlay</p><span class="arrow"></span></a>
                            <ul class="sub-menu">
                                <li><a href="/Admin/Users">Team</a></li>
                                <li><a href="/Admin/WebsiteContacts">Website Contacts</a></li>
                                <li><a href="/Admin/GamePreRegistration">Game Pre-Registration</a></li>
                                <li><a href="/Admin/Media">Website Media</a></li>
                                <li><a href="/Admin/Partners">Partners</a></li>
                                <li><a href="/Admin/Backups">Backups</a></li>
                                <li><a href="/Admin/Logs">Logs</a></li>
                                <li><a href="/Admin/Config">Website Conf</a></li>
                                <li><a href="/Admin/Config">Leaderboards</a></li>
                            </ul>
                        </li>
                       
                       
                    </ul>
                </div><!-- Page Sidebar Inner -->
            </div><!-- Page Sidebar -->