﻿<!DOCTYPE html>
<html>
    <head>
        <title>@ViewData["Title"]</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta charset="utf-8">
        <meta name="author" content="Topic Play Games">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        
        <!-- Favicons -->
        <link rel="shortcut icon" href="~/topicplay/images/iconeTopic.png">

        <!-- CSS -->
        <link rel="stylesheet" href="~/topicplay/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/topicplay/css/style.css">
        <link rel="stylesheet" href="~/topicplay/css/style-responsive.css">
        <link rel="stylesheet" href="~/topicplay/css/animate.min.css">
        <link rel="stylesheet" href="~/topicplay/css/vertical-rhythm.min.css">
        <link rel="stylesheet" href="~/topicplay/css/owl.carousel.css">
        <link rel="stylesheet" href="~/topicplay/css/magnific-popup.css">        
        
    </head>
    <body class="appear-animate">
        
        <!-- Page Loader -->        
        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>
        <!-- End Page Loader -->
        
        <!-- Page Wrap -->
        <div class="page" id="top">

            <!-- Fullwidth Slider -->
            <div class="home-section fullwidth-slider-fade bg-dark" id="home">
                
                <!-- Slide Item -->
                <section class="home-section bg-scroll bg-dark-alfa-50" data-background="topicplay/images/full-width-images/SolarTitans14.jpg">
                    <div class="js-height-full container">
                        
                        <!-- Hero Content -->
                        <div class="home-content">
                            <div class="home-text">
                                
                                <h1 class="font-alt mb-50 mb-xs-20"> Games that make you think!</h1>
                                
                                <div class="local-scroll">
                                    <a href="#aboutus" class="btn btn-mod btn-border-w btn-medium btn-round hidden-xs">Learn More</a>
                                </div>
                                
                            </div>
                        </div>
                        <!-- End Hero Content -->

                    </div>
                </section>
                <!-- End Slide Item -->
                
                <!-- Slide Item -->
                <section class="home-section bg-scroll bg-dark-alfa-30" data-background="topicplay/images/full-width-images/SolarTitans16.jpg">
                    <div class="js-height-full container">
                        
                        <!-- Hero Content -->
                        <div class="home-content">
                            <div class="home-text"> 
                                
                                <h1 class="hs-line-14 font-alt mb-50 mb-xs-20">
                                    SolarTitans
                                </h1>
                                
                                <h2 class="hs-line-8 no-transp font-alt">
                                    Reconquest the Solar System!
                                </h2>

                                 <div class="local-scroll">
                                    <a href="http://solartitans.com" class="btn btn-mod btn-border-w btn-medium btn-round hidden-xs">Learn More!</a>
                                </div>
                                
                            </div>
                        </div>
                        <!-- End Hero Content -->
                        
                    </div>
                </section>
                <!-- End Slide Item -->
                
               
            
            </div>
            <!-- End Fullwidth Slider -->

            
            @{
                @Html.Partial("Home/_Header")
            }

             <!-- Section -->
            <section class="page-section" id="aboutus">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <div class="col-md-5 col-lg-4 mb-sm-40">
                            
                            <!-- About Project -->
                            <div class="text">
                                
                                <h1 class="font-alt mb-30 mb-xxs-10">Topic Play Games</h1>
                                <p>
                                   Topic Play Games is a Brazilian gaming studio, that, has already helped more than 20,000 students and teachers to improve their teaching and learning results by up to 82%, using epic games that combines fun and knowledge.
                                   We are a team of 15 people completely in love with games and education!
                                </p>
                            </div>
                            <!-- End About Project -->
                            
                        </div>
                        
                        <div class="col-md-7 col-lg-offset-1">
                            
                            <!-- Work Gallery -->
                            <div class="work-full-media mt-0 white-shadow wow fadeInUp">
                                <ul class="clearlist work-full-slider owl-carousel">
                                    <li>
                                        <img src="~/topicplay/images/team.jpg" alt="" />
                                    </li>
                                    <li>
                                        <img src="~/topicplay/images/team2.jpg" alt="" />
                                    </li>
                                     <li>
                                        <img src="~/topicplay/images/team3.jpg" alt="" />
                                    </li>
                                </ul>
                            </div>
                            <!-- End Work Gallery -->
                            
                        </div>
                        
                     </div>
                    
                </div>
            </section>
            <!-- End Section -->
            
            
            <!-- Divider -->
            <hr class="mt-0 mb-0 "/>
            <!-- End Divider -->

            
            <!-- Call Action Section -->
            <section class="page-section pt-0 pb-0 banner-section bg-dark" data-background="topicplay/images/full-width-images/SolarTitans15.jpg">
                <div class="container relative">
                    
                    <div class="row">
                        
                        <div class="col-sm-6">
                            
                            <div class="mt-140 mt-lg-80 mb-140 mb-lg-80">
                                <div class="banner-content">
                                    <h1 class="font-alt">SolarTitans</h1>
                                    <div class="banner-decription">
                                        We developed an innovative 3D multiplayer game, called SolarTitans, that, has already been called the <strong>“StarWars
Battlefront of Education”.</strong> SolarTitans tells the story of the colonization of our solar system and struggle of mankind before MACK, a powerfull AI that turned against its creators. In the control of the heroes, players learn new skills in topics such as Math, Science, Logic and Reading to overcome various challenges and reconquer the
solar system. With SolarTitans it is possible to improve teaching and learning results by up to <strong>82%</strong>. Play for free with your friends, improve your skills, explore worlds, develop strategies,
win!.
                                    </div>
                                    <div class="local-scroll">
                                        <a href="http://solartitans.com" class="btn btn-mod btn-w btn-medium btn-round">Sign In Now!</a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                        
                    </div>
                    
                </div>
            </section>
            <!-- End Call Action Section -->

             <!-- Divider -->
            <hr class="mt-0 mb-0"/>
            <!-- End Divider -->

            <!-- Features Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <h2 class="section-title font-alt mb-70 mb-sm-40">
                        SolarTitans - An epic game focused on education!
                    </h2>
                    
                    <!-- Features Grid -->
                    <div class="row multi-columns-row alt-features-grid">
                        
                        <!-- Features Item -->
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="alt-features-item align-center">
                                <div class="alt-features-icon">
                                    <span class="icon-strategy"></span>
                                </div>
                                <h3 class="alt-features-title font-alt">Fun and Knowledge</h3>
                                <div class="alt-features-descr align-left">
                                  In SolarTitans players can collaborate in teams, explore worlds and resources, use their skills in topics 
                                  such as math, science, logic and reading to reconquer the solar system!
                                </div>
                            </div>
                        </div>
                        <!-- End Features Item -->
                        
                        <!-- Features Item -->
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="alt-features-item align-center">
                                <div class="alt-features-icon">
                                    <span class="icon-genius"></span>
                                </div>
                                <h3 class="alt-features-title font-alt">For Gamers, Students and Teachers</h3>
                                <div class="alt-features-descr align-left">
                                    If you are a competitive player, a student, a teacher, a science fiction lover, 
                                    an astronomy lover, a technology enthusiast, SolarTitans was made to
                                    you! Unique mechanics and challenges that will surprise you! <strong>A game that makes you think!<strong>
                                </div>
                            </div>
                        </div>
                        <!-- End Features Item -->
                        
                        <!-- Features Item -->
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="alt-features-item align-center">
                                <div class="alt-features-icon">
                                    <span class="icon-hotairballoon"></span>
                                </div>
                                <h3 class="alt-features-title font-alt">Play for Free with your friends!</h3>
                                <div class="alt-features-descr align-left">
                                   SolarTitans is a free game for PC and MAC with age rating of 12 years, 
                                   play with your friends, create teams, explore worlds and resources, increase your skills, win!
                                </div>
                            </div>
                        </div>
                        <!-- End Features Item -->
                        
                       
                        
                    </div>
                    <!-- End Features Grid -->
                
                </div>
            </section>
            <!-- End Features Section -->


            <!-- Divider -->
            <hr class="mt-0 mb-0"/>
            <!-- End Divider -->
            
            
            <!-- Testimonials Section -->
            <section id="media" class="page-section bg-dark bg-dark-alfa-90 fullwidth-slider" data-background="topicplay/images/full-width-images/_MG_9589.JPG">
                
                <!-- Slide Item -->
                <div>
                    <div class="container relative">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 align-center">
                                <!-- Section Icon -->
                                <div class="section-icon">
                                    <span class="icon-quote"></span>
                                </div>
                                <!-- Section Title --><h3 class="small-title font-alt">The StarWars Battlefront of Education!</h3>
                                <blockquote class="testimonial white">
                                   
                                    <footer class="testimonial-author">
                                       Claudio Alves, Angel Investor
                                    </footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Slide Item -->
                
                <!-- Slide Item -->
                <div>
                    <div class="container relative">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 align-center">
                                <!-- Section Icon -->
                                <div class="section-icon">
                                    <span class="icon-quote"></span>
                                </div>
                                <!-- Section Title --><h3 class="small-title font-alt">Conheça as startups aprovadas para o Ciclo 2017.2</h3>
                                <blockquote class="testimonial white">
                                   
                                    <footer class="testimonial-author">
                                        Inovativa Brasil - <strong> <a href="http://www.inovativabrasil.com.br/inovativa-brasil-divulga-selecionadas-para-ciclo-de-aceleracao-2017-2/">Saiba Mais</a></strong>
                                    </footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Slide Item -->
                
                <!-- Slide Item -->
                <div>
                    <div class="container relative">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 align-center">
                                <!-- Section Icon -->
                                <div class="section-icon">
                                    <span class="icon-quote"></span>
                                </div>
                                <!-- Section Title --><h3 class="small-title font-alt">A Topic Play Games é uma das empresas selecionadas no Leap International 2017</h3>
                                <blockquote class="testimonial white">
                                   
                                    <footer class="testimonial-author">
                                        Dream2B - <strong> <a href="https://goo.gl/x8NeFK">Saiba Mais</a></strong>
                                    </footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Slide Item -->
                
            </section>
            <!-- End Testimonials Section -->
            

            
            <!-- Divider -->
            <hr class="mt-0 mb-0 "/>
            <!-- End Divider -->


            <!-- Contact Section -->
            <section class="page-section" id="contacts">
                <div class="container relative">
                    
                    <h2 class="section-title font-alt mb-70 mb-sm-40">
                        Contact
                    </h2>
                    
                    <div class="row mb-60 mb-xs-40">
                        
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                
                                <!-- Phone -->
                                <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                                    <div class="contact-item">
                                        <div class="ci-icon">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                        <div class="ci-title font-alt">
                                            Call Us
                                        </div>
                                        <div class="ci-text">
                                            Brazil: +55 83 4100 0944 </br>
                                            Canada: +1 778 806 5165
                                        </div>
                                    </div>
                                </div>
                                <!-- End Phone -->
                                
                                <!-- Address -->
                                <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                                    <div class="contact-item">
                                        <div class="ci-icon">
                                            <i class="fa fa-map-marker"></i>
                                        </div>
                                        <div class="ci-title font-alt">
                                            Address
                                        </div>
                                        <div class="ci-text">
                                            959C Doutor Vanconcelos Street, Alto Branco, Campina Grande/PB
                                        </div>
                                    </div>
                                </div>
                                <!-- End Address -->
                                
                                <!-- Email -->
                                <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                                    <div class="contact-item">
                                        <div class="ci-icon">
                                            <i class="fa fa-envelope"></i>
                                        </div>
                                        <div class="ci-title font-alt">
                                            Email
                                        </div>
                                        <div class="ci-text">
                                            <a href="mailto:info@topicplay.com">info@topicplay.com</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Email -->
                                
                            </div>
                        </div>
                        
                    </div>
                    
                    <!-- Contact Form -->                            
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            
                            <form class="form contact-form" id="contact_form">
                                <div class="clearfix">

                                    <div id="result"></div>
                                    <br />
                                    
                                    <div class="cf-left-col">
                                        
                                        <!-- Name -->
                                        <div class="form-group">
                                            <input type="text" name="Name" class="input-md round form-control" placeholder="Name" required>
                                        </div>
                                        
                                        <!-- Email -->
                                        <div class="form-group">
                                            <input type="email" name="Email" class="input-md round form-control" placeholder="Email" required>
                                        </div>
                                        
                                    </div>
                                    
                                    <div class="cf-right-col">
                                        
                                        <!-- Message -->
                                        <div class="form-group">                                            
                                            <textarea name="Message" class="input-md round form-control" style="height: 84px;" placeholder="Message"></textarea>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                                
                                <div class="clearfix">
                                    
                                    <div class="cf-left-col">
                                        
                                        <!-- Inform Tip -->                                        
                                        <div class="form-tip pt-20">
                                            <i class="fa fa-info-circle"></i> All the fields are required
                                        </div>
                                        
                                    </div>
                                    
                                    <div class="cf-right-col">
                                        
                                        <!-- Send Button -->
                                        <div class="align-right pt-10">
                                            <button type="submit" class="submit_btn btn btn-mod btn-medium btn-round" id="submit_btn">Submit Message</button>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                                
                            </form>
                            
                        </div>
                    </div>
                    <!-- End Contact Form -->
                    
                </div>
            </section>
            <!-- End Contact Section -->


            
            <!-- Gallery Section -->
            <section class="page-section pt-0 pb-0">
                <div class="relative">
                    
                   <div class="image-carousel bg-dark">
                    
                        <!-- Image Item -->
                        <div>
                            <div class="post-prev-img mb-0">
                                <a href="~/topicplay/images/partners/partner03.jpg" class="lightbox-gallery-2 mfp-image"><img src="~/topicplay/images/partners/partner03.jpg" alt="" /></a>
                            </div>                            
                        </div>
                        <!-- End Image Item -->
                        
                        <!-- Image Item -->
                        <div>
                            <div class="post-prev-img mb-0">
                                <a href="~/topicplay/images/partners/partner04.jpg" class="lightbox-gallery-2 mfp-image"><img src="~/topicplay/images/partners/partner04.jpg" alt="" /></a>
                            </div>                            
                        </div>
                        <!-- End Image Item -->
                        
                        <!-- Image Item -->
                        <div>
                            <div class="post-prev-img mb-0">
                                <a href="~/topicplay/images/partners/partner08.jpg" class="lightbox-gallery-2 mfp-image"><img src="~/topicplay/images/partners/partner08.jpg" alt="" /></a>
                            </div>                            
                        </div>
                        <!-- End Image Item -->
                        
                        <!-- Image Item -->
                        <div>
                            <div class="post-prev-img mb-0">
                                <a href="~/topicplay/images/partners/partner07.jpg" class="lightbox-gallery-2 mfp-image"><img src="~/topicplay/images/partners/partner07.jpg" alt="" /></a>
                            </div>                            
                        </div>
                        <!-- End Image Item -->
                        
                        <!-- Image Item -->
                        <div>
                            <div class="post-prev-img mb-0">
                                <a href="~/topicplay/images/partners/partner01.jpg" class="lightbox-gallery-2 mfp-image"><img src="~/topicplay/images/partners/partner01.jpg" alt="" /></a>
                            </div>                            
                        </div>
                        <!-- End Image Item -->
                        
                        <!-- Image Item -->
                        <div>
                            <div class="post-prev-img mb-0">
                                <a href="~/topicplay/images/partners/partner02.jpg" class="lightbox-gallery-2 mfp-image"><img src="~/topicplay/images/partners/partner02.jpg" alt="" /></a>
                            </div>                            
                        </div>
                        <!-- End Image Item -->

                                                <!-- Image Item -->
                        <div>
                            <div class="post-prev-img mb-0">
                                <a href="~/topicplay/images/partners/partner05.jpg" class="lightbox-gallery-2 mfp-image"><img src="~/topicplay/images/partners/partner05.jpg" alt="" /></a>
                            </div>                            
                        </div>
                        <!-- End Image Item -->
                        
                        <!-- Image Item -->
                        <div>
                            <div class="post-prev-img mb-0">
                                <a href="~/topicplay/images/partners/partner06.jpg" class="lightbox-gallery-2 mfp-image"><img src="~/topicplay/images/partners/partner06.jpg" alt="" /></a>
                            </div>                            
                        </div>
                        <!-- End Image Item -->
                        
                        <!-- Image Item -->
                        <div>
                            <div class="post-prev-img mb-0">
                                <a href="~/topicplay/images/partners/partner09.jpg" class="lightbox-gallery-2 mfp-image"><img src="~/topicplay/images/partners/partner09.jpg" alt="" /></a>
                            </div>                            
                        </div>
                        <!-- End Image Item -->
                        
                        <!-- Image Item -->
                        <div>
                            <div class="post-prev-img mb-0">
                                <a href="~/topicplay/images/partners/partner10.jpg" class="lightbox-gallery-2 mfp-image"><img src="~/topicplay/images/partners/partner10.jpg" alt="" /></a>
                            </div>                            
                        </div>
                        <!-- End Image Item -->
                    
                    </div>
                    
                </div>
            </section>
            <!-- End Gallery Section -->

            
            @{
                @Html.Partial("Home/_Footer")
            }
        
        
        </div>
        <!-- End Page Wrap -->
        
        
        <!-- JS -->
        <script type="text/javascript" src="~/topicplay/js/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="~/topicplay/js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="~/topicplay/js/bootstrap.min.js"></script>        
        <script type="text/javascript" src="~/topicplay/js/SmoothScroll.js"></script>
        <script type="text/javascript" src="~/topicplay/js/jquery.scrollTo.min.js"></script>
        <script type="text/javascript" src="~/topicplay/js/jquery.localScroll.min.js"></script>
        <script type="text/javascript" src="~/topicplay/js/jquery.viewport.mini.js"></script>
        
        <script type="text/javascript" src="~/topicplay/js/jquery.appear.js"></script>
        <script type="text/javascript" src="~/topicplay/js/jquery.sticky.js"></script>
        <script type="text/javascript" src="~/topicplay/js/jquery.parallax-1.1.3.js"></script>
        <script type="text/javascript" src="~/topicplay/js/jquery.fitvids.js"></script>
        <script type="text/javascript" src="~/topicplay/js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="~/topicplay/js/isotope.pkgd.min.js"></script>
        <script type="text/javascript" src="~/topicplay/js/imagesloaded.pkgd.min.js"></script>
        <script type="text/javascript" src="~/topicplay/js/jquery.magnific-popup.min.js"></script>
       
        <script type="text/javascript" src="~/topicplay/js/wow.min.js"></script>
        <script type="text/javascript" src="~/topicplay/js/masonry.pkgd.min.js"></script>
        <script type="text/javascript" src="~/topicplay/js/jquery.simple-text-rotator.min.js"></script>
        <script type="text/javascript" src="~/topicplay/js/all.js"></script>
        <script type="text/javascript" src="~/topicplay/js/contact-form.js"></script>
       
        <!--[if lt IE 10]><script type="text/javascript" src="~/topicplay/js/placeholder.js"></script><![endif]-->
        
    </body>
</html>
