            <!-- Footer -->
            <footer class="page-section bg-gray-lighter footer pb-60">
                <div class="container">
                    
                    <!-- Footer Logo -->
                    <div class="local-scroll mb-30 wow fadeInUp" data-wow-duration="1.5s">
                        <a href="#top"><img src="~/topicplay/images/logo-dark2.png" width="236" height="80" alt="" /></a>
                    </div>
                    <!-- End Footer Logo -->
                    
                    <!-- Social Links -->
                    <div class="footer-social-links mb-110 mb-xs-60">
                        <a href="http://facebook.com/topicplaygames" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="http://twitter.com/topicplaygames" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.youtube.com/channel/UCAgnhwB01LAkaH9bQ_Vulqw" title="Youtube" target="_blank"><i class="fa fa-youtube"></i></a>
                        <a href="https://www.linkedin.com/company-beta/16207256/" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a>
                        <a href="https://www.instagram.com/topicplaygames/" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
                    </div>
                    <!-- End Social Links -->  
                    
                    <!-- Footer Text -->
                    <div class="footer-text">
                        
                        <!-- Copyright -->
                        <div class="footer-copy font-alt">
                            <a href="http://topicplay.com" target="_blank">&copy; Topic Play Games @DateTime.Now.Year</a>.
                        </div>
                        <!-- End Copyright -->
                        
                        <div class="footer-made">
                            Made for awesome people completely in love with games and education!
                        </div>
                        
                    </div>
                    <!-- End Footer Text --> 
                    
                 </div>
                 
                 
                 <!-- Top Link -->
                 <div class="local-scroll">
                     <a href="#top" class="link-to-top"><i class="fa fa-caret-up"></i></a>
                 </div>
                 <!-- End Top Link -->
                 
            </footer>
            <!-- End Foter -->