            <!-- Navigation panel -->
            <nav class="main-nav dark transparent stick-fixed">
                <div class="full-wrapper relative clearfix">
                    <!-- Logo ( * your text or image into link tag *) -->
                    <div class="nav-logo-wrap local-scroll">
                        <a href="/" class="logo">
                            <img src="~/topicplay/images/logo-white2.png" alt="" />
                        </a>
                    </div>
                    <div class="mobile-nav">
                        <i class="fa fa-bars"></i>
                    </div>
                    
                    <!-- Main Menu -->
                    <div class="inner-nav desktop-nav">
                        <ul class="clearlist">
                            
                            <!-- Item With Sub -->
                            <li>
                                <a href="/" class="mn-has-sub active">Home</a>
                            </li>
                             <!-- Item With Sub -->
                            <li>
                                <a href="#aboutus" class="mn-has-sub active">Topic Play Games</a>
                            </li>
                            <li>
                                <a href="/solartitans">SolarTitans</a>
                                <!-- <a href="http://solartitans.com">SolarTitans</a> -->
                            </li>
                            <li>
                                <a href="#media">Media</a>
                            </li>
                            <li>
                                <a href="#contacts">Contacts</a>
                            </li>
                          
                                                      
                            <!-- Languages 
                            <li>
                                <a href="#" class="mn-has-sub">Eng <i class="fa fa-angle-down"></i></a>
                                
                                <ul class="mn-sub">
                                    <li><a href="">English</a></li>
                                    <li><a href="">Portuguese</a></li>
                                </ul>
                                
                            </li>-->
                            <!-- End Languages -->
                            
                        </ul>
                    </div>
                    <!-- End Main Menu -->
                    

                </div>
            </nav>
            <!-- End Navigation panel -->