            <!-- Footer -->
            <footer class="page-section bg-dark footer pb-60">
                <div class="container">

                <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="row">
                                
                                <!-- Phone -->
                                <div class="col-sm-6 col-lg-6 pt-40 pb-20 pb-xs-0">
                                    <!-- Footer Logo -->
                                    <div class="local-scroll mb-30 wow fadeInUp" data-wow-duration="1.5s">
                                        <a href="http://solartitans.com"><img src="~/topicplay/images/solartitans_minilogo.png" width="236" height="80" alt="" /></a>
                                    </div>
                                    <!-- End Footer Logo -->
                                </div>
                                <!-- End Phone -->
                                
                                <!-- Address -->
                                <div class="col-sm-6 col-lg-6 pt-20 pb-20 pb-xs-0">
                                    <!-- Footer Logo -->
                                    <div class="local-scroll mb-30 wow fadeInUp" data-wow-duration="1.5s">
                                        <a href="http://topicplay.com"><img src="~/topicplay/images/logo-white2.png" width="236" height="80" alt="" /></a>
                                    </div>
                                    <!-- End Footer Logo -->
                                </div>
                                <!-- End Address -->
                            </div>
                        </div>
                        
                    </div>

                    <!-- Footer Logo -->
                    <div class="local-scroll mb-30 wow fadeInUp" data-wow-duration="1.5s">
                        <a href="http://culturadigital.br/classind/criterios-e-normas/aplicacao-dos-criterios/classificacao-12-anos/"><img src="~/topicplay/images/rating12.png" width="80" height="50" alt="" /></a>
                        <span class="hidden-xs">&nbsp;</span>
                        <a href="http://www.esrb.org/ratings/"><img src="~/topicplay/images/teen12.png" width="60" height="50" alt="" /></a>
                    </div>
                    <!-- End Footer Logo -->

                     <!-- Social Links -->
                    <div class="footer-social-links pt-30 pb-40 mb-xs-60 align-center">
                        <a href="http://facebook.com/topicplaygames" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="http://twitter.com/topicplaygames" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.youtube.com/channel/UCAgnhwB01LAkaH9bQ_Vulqw" title="Youtube" target="_blank"><i class="fa fa-youtube"></i></a>
                        <a href="https://www.linkedin.com/company-beta/16207256/" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a>
                        <a href="https://www.instagram.com/topicplaygames/" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
                    </div>
                    <!-- End Social Links -->
                    
                    <!-- Footer Text -->
                    <div class="footer-text">
                        <!-- Copyright -->
                        <div class="footer-copy font-alt">
                            <a href="http://topicplay.com" target="_blank">&copy; Topic Play Games @DateTime.Now.Year</a>.
                        </div>
                        <!-- End Copyright -->
                        
                        <div class="footer-made font-alt">
                            Made for awesome people completely in love with games and education!
                        </div>
                    </div>
                    <!-- End Footer Text --> 
                    
                 </div>
                 
                 
                 <!-- Top Link -->
                 <div class="local-scroll">
                     <a href="#top" class="link-to-top"><i class="fa fa-caret-up"></i></a>
                 </div>
                 <!-- End Top Link -->
                 
            </footer>
            <!-- End Foter -->