            <!-- Navigation panel -->
            <nav class="main-nav dark transparent stick-fixed">
                <div class="full-wrapper relative clearfix">
                    <!-- Logo ( * your text or image into link tag *) -->
                    <div class="nav-logo-wrap local-scroll">
                        <a href="/" class="logo">
                            <img src="~/topicplay/images/solartitans_minilogo.png" alt="" />
                        </a>
                    </div>
                    <div class="mobile-nav">
                        <i class="fa fa-bars"></i>
                    </div>
                    
                    <!-- Main Menu -->
                    <div class="inner-nav desktop-nav">
                        <ul class="clearlist">

                            <li>
                                <a href="#about" class="mn-has-sub">About</a>
                            </li>
                            <li>
                                <a href="#multiplayer">Multiplayer</a>
                            </li>
                          
                            <li>
                                <a href="#topicstore">SolarDiamonds</a>
                            </li>

                            <li>
                                <a href="#esk">STLeague and ESK</a>
                            </li>

                             <!-- Button -->
                            <li>
                                <a href="#signin"><span class="btn btn-mod btn-circle btn-w"><i class="fa fa-play"></i> Play Now!</span></a>
                            </li>
                            <!-- End Button -->


                        </ul>
                    </div>
                    <!-- End Main Menu -->

                </div>
            </nav>
            <!-- End Navigation panel -->